@media only screen and (min-width: 38rem) {
  .hamburger {
    display: none;
  }

  .header-menu {
    grid-template-columns: 40px auto;
    gap: 1rem;
    padding: 1rem 0;
  }

  .header-menu span {
    grid-column: 2/3;
  }

  .header-menu img {
    grid-column: 1/2;
  }

  .navigation {
    display: flex;
    grid-column: 3/4;
  }

  .header-menu .navigation ul {
    display: flex;
    border: none;
  }

  .header-menu .navigation li {
    flex: 1 1 100%;
    border: none;
  }

  .navigation a {
    background-color: var(--secondary-color);
    color: white;
    border: none;
  }

  .navigation a:hover {
    background-color: var(--secondary-color);
  }

  /********* MAIN *********/
  .list {
    display: flex;
    flex-direction: column;
  }
  .list section {
    display: grid;
    border: none;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.5rem;
  }

  .list section > * {
    margin: 0 1rem;
  }

  .list section img {
    display: none;
  }

  .list section:nth-child(even) {
    background-color: #b300ff28;
  }

  .form-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

  .form-title, form {
    grid-column: 1/2;
  }

  .levels-title, .membership-levels {
    grid-column: 2/3;
  }

  .member-modal {
    width: 500px;
  }
  /********* FOOTER *********/

  footer {
    display: grid;
    padding: 1rem 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer .address {
    grid-column: 1/2;
    justify-self: center;
  }

  footer .social-media {
    justify-self: center;
    grid-column: 2/3;
  }

  footer .student-info {
    grid-column: 3/3;
    justify-self: center;
  }
}
