@media only screen and (min-width: 38rem) {
  .hamburger {
    display: none;
  }

  .header-menu {
    grid-template-columns: 40px auto;
  }

  .header-menu span {
    grid-column: 2/3;
  }

  .header-menu img {
    grid-column: 1/2;
  }

  .navigation {
    display: inline;
    grid-column: 2/3;
    flex-direction: row;
  }

  .navigation ul {
    display: flex;
    justify-content: flex-end;
  }

  .navigation li {
    flex: 1 1 100%;
  }

  .list {
    display: flex;
    flex-direction: column;

    section {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      margin: 0;
      padding: 0.25rem;

      & > * {
        margin: 0.1rem;
      }
    }

    img {
      display: none;
    }

    .company_name {
      display: inline;
    }

    &:nth-child(even) {
      background-color: #edd7f7;
    }
  }
}
