@media only screen and (min-width: 38rem) {
  .hamburger {
    display: none;
  }

  .header-menu {
    grid-template-columns: 40px auto;
    gap: 1rem;
    padding: 1rem 0;
  }

  .header-menu span {
    grid-column: 2/3;
  }

  .header-menu img {
    grid-column: 1/2;
  }

  .navigation {
    display: flex;
    align-items: center;
    grid-column: 3/4;
  }

  .header-menu .navigation ul {
    display: flex;
    border: none;
  }

  .header-menu .navigation li {
    flex: 1 1 100%;
    border: none;
  }

  .navigation a {
    background-color: var(--secondary-color);
    color: white;
    border: none;
  }

  .navigation a:hover {
    background-color: var(--secondary-color);
  }

  /********* MAIN *********/

  .hero img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .button-container {
    top: 50%;
  }

  #discover .card {
    width: auto;
    grid-template-areas:
      "photo name"
      "photo description"
      "address button";
  }

  @keyframes zoom-in {
    0% {
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1.05);
    }
  }

  #discover img {
    transition: transform .5s ease;
  }

  #discover img:hover {
    transform: scale(1.05);
  }

  /********* FOOTER *********/

  footer {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    & {
      line-height: 1.8rem;
    }
  }
}
