@media only screen and (min-width: 38rem) {
  .header-menu {
    grid-template-columns: 44px auto 44px;
  }

  /********* INDEX *********/

  .pod {
    grid-template-areas:
      "title photo"
      "paragraph photo";
    margin-bottom: 2rem;
  }

  .pod img,
  .gallery img {
    width: 375px;
    height: 275px;
    object-fit: cover;
    grid-area: photo;
  }

  .pod h2 {
    grid-area: title;
  }

  .pod p {
    grid-area: paragraph;
  }

  .gallery {
    grid-template-areas:
      "photo title"
      "photo paragraph";
  }

  .gallery h2 {
    grid-area: title;
  }

  .gallery p {
    grid-area: paragraph;
  }

  /********* POD *********/

  .pofd img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--secondary-color);
  }

  /********* GALLERY *********/

  .modal {
    width: 500px;
    height: fit-content;
  }
}
