:root {
  --primary-color: #1b1b3a;
  --primary-accent: #693668;
  --secondary-color: #a74482;
  --secondary-accent: #f34aa4;
  --heading-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
}

/*************** SITE WIDE ***************/
* {
  font-family: var(--body-font);
  box-sizing: border-box;
  margin: 0;
}

header,
main,
footer {
  margin: 0 auto;
}

main {
  margin: 0.5rem;
}

/*************** HEADER ***************/
header {
  display: grid;
  padding: 5px 0;
  background-color: var(--primary-color);
  color: white;
  grid-template-columns: 29px auto 44px;
  align-items: center;
  border-bottom: solid 1px #ddd;
  column-gap: 8px;
}

header img {
  display: block;
  padding-left: 5px;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.2rem;
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: white;
}

/*************** HAMBURGER NAVIGATION ***************/

.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
  color: var(--secondary-color);
}

.hamburger.show::before {
  content: "\00D7";
}

.navigation {
  display: none;
  grid-column: 1/4;
  background-color: var(--primary-accent);
}

.navigation.show {
  display: block;
  background-color: var(--primary-accent);
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.navigation li {
  margin: 0;
  border: solid 1px black;
  width: 100%;
}

.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

.current::after {
  content: "📍";
}

.navigation a:hover {
  background-color: var(--secondary-color);
}

.navigation a {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

/*************** MAIN ***************/
.main-content {
  display: grid;
  gap: 1rem;
}

h1,
h2 {
  font-family: var(--heading-font);
}

section h2 {
  background-color: var(--primary-accent);
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 0 0 1rem;
  width: 100%;
}

.about-me,
.stu-photo {
  background-color: lightgrey;
}

.about-me p {
  line-height: 1.35;
  padding: 0 1rem 0.5rem 1rem;
}

.first-p {
  text-indent: 1.5em;
}
.stu-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stu-photo img {
  display: block;
  width: 90%;
  height: auto;
  padding-bottom: 1rem;
}

.course-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 1rem;
  width: 100%;
}

.course-selector button {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 10px;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: black 1px solid;
}

.courses button {
  border-radius: 5px;
  padding: 7.5px;
  border: solid black 1px;
}

.courses span {
  text-align: center;
  margin-top: 0.5rem;
}

.certificates button {
  background-color: var(--secondary-color);
  color: white;
}

.certificates button:hover {
  font-weight: bold;
  background-color: #812760;
  color: white;
  cursor: pointer;
}

.certificates .completed-course {
  background-color: var(--secondary-accent);
  color: black;
  font-weight: bold;
  text-decoration: line-through;
}

.completed-course::before {
  content: "✔ ";
}

.course-details {
  border: none;
  border-radius: 5px;
  margin: auto;
  width: 500px;
  height: fit-content;
}

.course-details h3 {
  padding: .8rem;
  text-align: center;
  font-family: var(--heading-font);
  background-color: var(--primary-accent);
  color: white;
}

.course-details button {
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

.course-title {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: .5rem;
}

.course-details p {
  margin: 1rem 0;
}

.course-details::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/*************** FOOTER ***************/
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}

footer p {
  padding-bottom: 8px;
}

.social-media {
  display: flex;
  margin: 0.5rem 0;
  background-color: white;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  height: auto;
}
