@media only screen and (min-width: 38rem) {
  header,
  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  main {
    padding: 0 0.5rem;
  }

  header {
    grid-template-columns: 40px auto;
    padding: 8px 0 0;
  }

  header span {
    font-family: var(--heading-font);
    align-self: center;
  }

  header img {
    padding-left: 1rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    margin-top: 8px;
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
  }

  .navigation li {
    flex: 1 1 100%;
  }

  /*************** MAIN ***************/
  .main-content {
    grid-template-columns: 2fr 1fr;
  }

  .about-me {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .certificates {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
  }

  .courses button {
    border-radius: 5px;
    padding: 7.5px;
  }

  .courses span {
    grid-column: 1/4;
  }
}
