@media only screen and (min-width: 38rem) {
  header,
  main,
  footer {
    max-width: 900px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    background-color: var(--prmary-accent);
  }

  .navigation ul {
    display: flex;
    flex-direction: row;
  }

  .navigation li {
    flex: 1 1 100%;
  }
}
